<footer>
  <img class="logo" src="../../../assets/images/logo-events-white.svg" alt="">
  <div class="credits">
    <div class="info-content">
      <h4>Desenvolvido por</h4>
      <a href="https://apps4society.dcx.ufpb.br/" target="_blank">
        <img class="logo-project" src="../../../assets/images/logo-project-solid.svg" alt="">
      </a>
    </div>
    <span class="line"></span>
    <div class="social-content">
      <a href="https://www.instagram.com/apps4society/" target="_blank">
        <i class='bx bxl-instagram'></i>
      </a>
      <a href="https://github.com/a4s-ufpb" target="_blank">
        <i class='bx bxl-github'></i>
      </a>
      <a href="mailto:apps4society@dcx.ufpb.br">
        <i class='bx bx-envelope'></i>
      </a>
    </div>
  </div>
</footer>
