<nav>
  <div [routerLink]="['/']" class="logo">
    <img src="../../../assets/images/icon.svg" class="logo-icon">
    <img src="../../../assets/images/name-orange.svg" class="logo-name">
  </div>

  <ul *ngIf="!isLoggedIn">
    <li><a class="button-login" [routerLink]="['/login']" [queryParams]="{type: 'signIn'}">Entrar</a></li>
    <li><a class="button-register" [routerLink]="['/login']" [queryParams]="{type: 'singUp'}">Cadastrar-se</a></li>
  </ul>


  <div *ngIf="isLoggedIn" class="user-profile">
    <div class="action">
      <div class="btn">
        <app-user-avatar height="0.92em" width="0.92em" class="header-img"></app-user-avatar>
        <div class="toggle" (click)="this.menuToggle()" #toggleButton>
          <h3>{{currentUser.username}}</h3>
          <app-user-avatar height="0.92em" width="0.92em" class="header-img"></app-user-avatar>
          <i class="eva eva-chevron-down-outline"></i>
        </div>
      </div>
      <div class="menu" [ngClass]='this.menuActive ? "active" : ""' #menu>
        <div class="header">
          <app-user-avatar height="0.92em" width="0.92em" class="header-img"></app-user-avatar>
          <div class="name-email">
            <h3>{{currentUser.username}}</h3>
            <span>{{currentUser.email}}</span>
          </div>
        </div>
        <!-- <h2>Minha conta</h2> -->
        <ul>
          <hr>
          <li>
            <i class="eva eva-person-outline"></i>
            <p>Minha conta</p>
          </li>
          <li [routerLink]="['/dashboard/eventos']">
            <i class="eva eva-pie-chart-outline"></i>
            <p>Dashboard</p>
          </li>
          <hr>
          <li id="logout-button" (click)="this.logout()">
            <i class="eva eva-log-out-outline"></i>
            <p>Sair</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
