* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav {
  background: var(--sidebar-color);
  padding: 6px 0;
  width: 100%;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  cursor: pointer;
  display: flex;
  width: fit-content;
  align-items: center;
}

nav .logo .logo-icon {
  width: 8vh;
}

nav .logo .logo-name {
  margin-top: 8px;
  width: 25vh;
  position: relative;
}

nav ul {
  display: flex;
  margin-right: 16px;
  font-size: 1.65vh;
  gap: 16px;
}

nav ul a {
  border-radius: 10px;
  padding: 16px 24px;
  transition: var(--tran-03);
}

/* Buttons Login and Register */

nav ul .button-login {
  font-weight: 600;
}

nav ul .button-login:hover {
  background: var(--primary-color-light);
}

nav ul .button-register {
  background: var(--primary-color);
  color: var(--sidebar-color);
  font-weight: bold;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
}

nav ul .button-register:hover {
  box-shadow: none;
  filter: brightness(95%);
}

/* Tabs dashboard */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs {
  display: flex;
  position: relative;
  background-color: var(--primary-color-light);
  padding: 8px;
  border-radius: 8px;
}

input[type=radio] {
  display: none;
}

.tab {
  z-index: 1;
  display: flex;
  gap: 10px;
  height: 42px;
  width: 116px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: colorTab 0.15s ease-in;
}

.tab i {
  font-size: 22px;
}

input[type=radio]:checked+label p,
input[type=radio]:checked+label i {
  color: var(--sidebar-color);
}

.glider {
  position: absolute;
  display: flex;
  height: 42px;
  width: 116px;
  z-index: 0;
  border-radius: 6px;
  background-color: var(--primary-color);
  transition: var(--tran-02);
}

input[id=events-tab]:checked~.glider {
  transform: translateX(0);
}

input[id=users-tab]:checked~.glider {
  transform: translateX(100%);
}

/* User profile */

.action {
  margin: 10px;
}

.action .btn {
  display: flex;
  align-items: center;
}

.action .btn .toggle .toggle-person-img {
  display: none;
}

.action .btn .profile,
.action .btn .toggle .toggle-person-img,
.action .menu .profile {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}

.action .btn .profile img,
.action .btn .toggle img,
.action .menu .profile img {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: default;
  object-fit: cover;
}

.action .btn .toggle {
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: 10px;
  transition: var(--tran-02);
  margin-right: 10px;
}

.action .btn .toggle h3 {
  font-weight: 500;
  font-size: 14px;
  margin: 10px 10px;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.action .btn .toggle i {
  font-size: 18px;
  text-align: center;
  margin-right: 10px;
}

.action .btn .toggle:hover {
  background: var(--primary-color-light);
}

.action .menu {
  cursor: default;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 12px;
  top: 110px;
  right: 15px;
  background: white;
  max-width: 250px;
  width: auto;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 12px 0px 12px 12px;
  box-shadow: var(--shadow-card-hover);
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  transition: var(--tran-02);
}

.action .menu.active {
  top: 100px;
  visibility: visible;
  opacity: 1;
}

.action .menu .header {
  display: flex;
  margin: 20px 20px 10px 20px;
  gap: 6px;
  align-items: center;
}

.action .menu .header .name-email {
  display: flex;
  flex: 1;
  min-width: 0;
  flex-direction: column;
}

.action .menu h3,
.action .menu span {
  text-align: left;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.action .menu h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.action .menu span {
  font-weight: 500;
  color: #a7b8be;
}

.action .menu h2 {
  text-align: left;
  font-size: 16px;
  margin-left: 20px;
  font-weight: bold;
}

.action .menu ul {
  display: flex;
  gap: 0px;
  margin: 0 10px 10px 10px;
  flex-direction: column;
}

.action .menu ul li {
  list-style: none;
  cursor: pointer;
  padding: 12px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: var(--tran-02);
}

.action .menu ul li:hover {
  background: var(--primary-color-light);
}

.action .menu ul hr {
  margin: 4px 12px;
  height: 1px;
  border: 0;
  border-radius: 50%;
  background: var(--primary-color-light);
}

.action .menu ul li i {
  font-size: 20px;
  margin-right: 10px;
  opacity: 0.5;
}

.action .menu ul li p {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  margin: 0;
  transition: var(--tran-02);
}

@media only screen and (max-width: 950px) {

  nav .logo .logo-name {
    width: 20vh;
  }

  nav .logo .logo-icon {
    width: 5vh;
  }

  .tabs {
    padding: 6px;
  }

  .tab i {
    font-size: 20px;
  }

  .tab p {
    display: none;
  }

  .tab {
    height: 42px;
    width: 42px;
  }

  .glider {
    height: 42px;
    width: 42px;
  }

  .action .btn .toggle {
    margin-right: 0;
  }

  .action .btn .toggle .toggle-person-img {
    display: flex;
  }

  .action .btn .profile,
  .action .btn .toggle h3 {
    display: none;
  }

  .action .btn .toggle {
    border-radius: 25px 10px 10px 25px;
  }
}

@media only screen and (max-width: 570px) {
  nav {
    padding: 8px 0;
  }

  nav .logo .logo-icon {
    width: 6vh;
  }

  nav .logo .logo-name {
    display: none;
  }

  nav ul {
    gap: 8px;
  }

  nav ul a {
    padding: 12px 20px;
  }

  .tabs {
    padding: 4px;
  }

  .tab i {
    font-size: 18px;
  }

  .tab {
    height: 35px;
    width: 35px;
  }

  .glider {
    height: 35px;
    width: 35px;
  }

  .action .btn .toggle {
    margin-right: 0;
  }

  .action .btn .toggle .toggle-person-img {
    display: flex;
    width: 38px;
    height: 38px;
  }

  .action .btn .profile,
  .action .btn .toggle h3 {
    display: none;
  }

  .action .btn .toggle {
    border-radius: 25px 10px 10px 25px;
  }
}

@media only screen and (max-width: 375px) {
  .action .menu {
    max-width: 70vw;
  }

  .action .menu .header {
    gap: 0px;
    margin: 12px 12px 10px 12px;
  }

  .action .menu h3,
  .action .menu span {
    text-align: left;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .action .menu h2 {
    text-align: left;
    margin-left: 12px;
    font-size: 15px;
  }

  .action .menu ul {
    margin: 0 6px 6px 6px;
    gap: 4px;
  }

  .action .menu ul hr {
    margin: 0 6px;
  }
}
