<nav *ngIf="!this.isLoginPage">
  <div [routerLink]="['/']" class="logo">
    <img src="../../../assets/images/logo-navbar.svg" class="logo-icon">
    <img src="../../../assets/images/name-orange.svg" class="logo-name">
  </div>
  <div *ngIf="isLogged()" class="container">
    <div class="tabs">

      <input type="radio" name="tabs" id="events-tab" [checked]="this.checkPathIsEqual('/dashboard/eventos')">
      <label [routerLink]="['/dashboard/eventos']" for="events-tab" class="tab noselect">
        <i class="eva eva-calendar-outline"></i>
        <p>Eventos</p>
      </label>

      <input type="radio" name="tabs" id="users-tab" [checked]="this.checkPathIsEqual('/dashboard/usuarios')">
      <label [routerLink]="['/dashboard/usuarios']" for="users-tab" class="tab noselect">
        <i class="eva eva-people-outline"></i>
        <p>Usuários</p>
      </label>

      <span class="glider"></span>
    </div>
  </div>

  <ul *ngIf="!isLogged()">
    <li><a class="button-login" [routerLink]="['/login']" [state]="{isLogin: true}">Entrar</a></li>
    <li><a class="button-register" [routerLink]="['/login']" [state]="{isLogin: false}">Cadastrar-se</a></li>
  </ul>


  <div *ngIf="isLogged()" class="user-profile">
    <div class="action">
      <div class="btn">
        <div class="profile">
          <img src="../../../assets/images/user-temp.jpg">
        </div>
        <div class="toggle" (click)="this.menuToggle()" #toggleButton>
          <h3>Anderson Barbosa</h3>
          <div class="toggle-person-img">
            <img src="../../../assets/images/user-temp.jpg">
          </div>
          <i class="eva eva-chevron-down-outline"></i>
        </div>
      </div>
      <div class="menu" [ngClass]='this.menuActive ? "active" : ""' #menu>
        <div class="header">
          <div class="profile">
            <img src="../../../assets/images/user-temp.jpg">
          </div>
          <div class="name-email">
            <h3>Anderson Barbosa de Freitas</h3>
            <span>anderson@gmail.com</span>
          </div>
        </div>
        <!-- <h2>Minha conta</h2> -->
        <ul>
          <hr>
          <li>
            <i class="eva eva-person-outline"></i>
            <p>Minha conta</p>
          </li>
          <li [routerLink]="['/dashboard/eventos']">
            <i class="eva eva-pie-chart-outline"></i>
            <p>Dashboard</p>
          </li>
          <hr>
          <li id="logout-button">
            <i class="eva eva-log-out-outline"></i>
            <p>Sair</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
