<body>
  <div class="wrapper">

    <div class="containers">
      <a class="back-button" (click)="goBack()">
        <i class="eva eva-arrow-ios-back-outline"></i>
      </a>
      <div class="right-container">
        <app-event-card-details [event]="this.event"></app-event-card-details>
        <div class="description-content">
          <h2>Descrição do evento</h2>
          <p [innerHTML]="this.event.description"></p>
        </div>
      </div>
      <div class="left-container">
        <div class="social-container">
          <h3>Compartilhar com os amigos</h3>
          <div class="social-links">
            <ul class="links">
              <a [href]="'https://web.whatsapp.com/send?text=http://localhost:4200/evento/'+this.event.id"
                target="_blank">
                <li>
                  <div class="logo-name">
                    <i class='bx bxl-whatsapp'></i>
                    <p>WhatsApp</p>
                  </div>
                  <i class='eva eva-arrow-ios-forward-outline'></i>
                </li>
              </a>
              <span class="line"></span>
              <a [href]="'https://www.linkedin.com/sharing/share-offsite/?url=http://localhost:4200/evento/'+this.event.id"
                target="_blank">
                <li>
                  <div class="logo-name">
                    <i class='bx bxl-linkedin'></i>
                    <p>LinkedIn</p>
                  </div>
                  <i class='eva eva-arrow-ios-forward-outline'></i>
                </li>
              </a>
              <span class="line"></span>
              <a [href]="'https://www.facebook.com/sharer/sharer.php?u=http://localhost:4200/evento/'+this.event.id"
                target="_blank">
                <li>
                  <div class="logo-name">
                    <i class='bx bxl-facebook'></i>
                    <p>Facebook</p>
                  </div>
                  <i class='eva eva-arrow-ios-forward-outline'></i>
                </li>
              </a>
              <span class="line"></span>
              <li (click)="this.copyCurrentUrl()">
                <div class="logo-name">
                  <i class='eva eva-copy'></i>
                  <p id="copy_tooltip">Link copiado!</p>
                  <p>Copiar link</p>
                </div>
                <i class='eva eva-arrow-ios-forward-outline'></i>
              </li>
            </ul>
          </div>
        </div>

        <div class="map-button">
          <a href="" [href]="'https://www.google.com/maps/search/'+this.event.location" target="_blank">
            <li>
              <div class="logo-name">
                <img src="../../../assets/images/map_icon.svg" class="map-icon">
                Ver no mapa
              </div>
              <i class='eva eva-arrow-ios-forward-outline'></i>
            </li>
          </a>
        </div>

      </div>

    </div>

  </div>

  <app-footer></app-footer>
</body>
