* {
  margin: 0;
  padding: 0;
}

.card {
  width: 100%;
  height: 45vh;
  display: flex;
  background-color: var(--card-color-primary);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: var(--shadow-card);
}

.card-header {
  display: flex;
  width: 60%;
  background: linear-gradient(103.78deg, #ED844E 0%, #FB323D 98.17%);
  height: 100%;
  overflow: hidden;
}

.card-img {
  min-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  padding: 24px;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-title {
  font-size: 4vh;
  margin-right: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-category {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
  border-radius: 8px;
  padding: 6px 10px;
  font-weight: 500;
  font-size: 15px;
  background-color: var(--card-color-primary-light);
}

.card-local {
  display: flex;
  width: fit-content;
  align-items: center;
  padding: 0 12px 0 0;
  gap: 12px;
  font-weight: 500;
  font-size: 15px;
  background-color: var(--sidebar-color);
}

.card-local i {
  font-size: 28px;
  color: var(--primary-color);
}

.card-local p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-body .start-end-date {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  align-items: center;
  font-size: 17px;
  padding-right: 12px;
}

.start-end-date p {
  font-weight: bold;
}

.start-end-date p.label {
  opacity: 0.5;
  font-weight: 500;
}

.start-end-date .eva {
  font-size: 28px;
  opacity: 0.35;
}

@media only screen and (max-width: 1550px) {
  .card-body .start-end-date {
    font-size: 14px;
  }

  .start-end-date .eva {
    font-size: 22px;
  }
}

@media only screen and (max-width: 1350px) {
  .card-body {
    padding: 18px;
  }

  .card-title {
    font-size: 3vh;
  }

  .start-end-date .eva {
    display: none;
  }

  .card-category,
  .card-local {
    font-size: 13px;
  }

  .card-local i {
    font-size: 22px;
  }
}

@media only screen and (max-width: 1150px) {
  .card-body .start-end-date {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}

@media only screen and (max-width: 735px) {
  .card {
    flex-direction: column;
    height: max-content;
  }

  .card-header {
    width: 100%;
    height: 50vw;
  }

  .card-body {
    width: 94%;
    height: auto;
    gap: 12px;
  }

  .details {
    gap: 18px;
  }

  .card-category,
  .card-local {
    font-size: 14px;
    margin-top: 0;
  }

  .card-body .start-end-date {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
  }

  .start-end-date .eva {
    display: flex;
  }
}

@media only screen and (max-width: 450px) {
  .card-title {
    font-size: 2.5vh;
  }

  .card-body .start-end-date,
  .card-category,
  .card-local {
    font-size: 13px;
  }
}

@media only screen and (max-width: 360px) {
  .card-body {
    padding: 12px;
  }

  .start-end-date .eva {
    display: none;
  }
}

@media only screen and (max-width: 280px) {

  .card-body .start-end-date,
  .card-category,
  .card-local {
    font-size: 11px;
  }
}

/* @media only screen and (max-width: 960px) {
  .card {
    width: 300px;
  }
}

@media only screen and (max-width: 400px) {
  .card {
    width: 325px;
  }
}

@media only screen and (max-width: 300px) {
  .card {
    width: 250px;
  }

  .card-body .start-end-date {
    font-size: 11px;
  }
} */
