<div class="container">
  <div class="card">
    <div class="card-header">
      <img [src]="this.getBanner()" class="card-img">
    </div>
    <div class="card-body">
      <div class="title">
        <h1 class="card-title">{{this.event.title}} {{this.event.subtitle}}</h1>
      </div>
      <div class="details">
        <p class="card-category">{{this.getCategoryName()}}</p>
        <div class="start-end-date">
          <div class="start-date">
            <p class="label">Início</p>
            <p class="date">{{this.getStartEndDate().startDate}}</p>
          </div>
          <i class="eva eva-arrow-ios-forward-outline"></i>
          <div class="end-date">
            <p class="label">Fim</p>
            <p class="date">{{this.getStartEndDate().endDate}}</p>
          </div>
        </div>
        <div class="card-local">
          <i class="eva eva-pin-outline"></i>
          <p>{{this.event.location}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
