*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(180deg, #ED864F 0%, #FD2A3C 101.27%);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  cursor: pointer;
}

.box {
  position: relative;
  width: 100%;
  max-width: 1020px;
  max-height: 565px;
  height: 100vh;
  background-color: var(--card-color-primary);
  border-radius: 3.3rem;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forms-wrap {
  position: absolute;
  height: 100%;
  width: 45%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: var(--tran-08-out);
}

form {
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}

form.sign-up-form {
  opacity: 0;
  pointer-events: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  margin-right: 0.3rem;
}

.logo h4 {
  font-size: 1.7rem;
  letter-spacing: -0.5px;
}

.heading {
  display: flex;
  flex-direction: column;
}

.heading h2 {
  font-size: 3rem;
  font-weight: 700;
}

.heading h6 {
  color: #bababa;
  font-weight: 500;
  font-size: 1.3rem;
  margin-top: 12px;
  display: inline;
}

.toggle {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  transition: var(--tran-03);
}

.toggle:hover {
  color: var(--third-color);
}

.actual-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-wrap {
  position: relative;
  height: 37px;
}

.invalid-feedback span {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  color: var(--primary-color);
}

.fail-login {
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 1rem;
}

.input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #bbb;
  padding: 0;
  font-size: 1.5rem;
  transition: var(--tran-04);
}

input[type=password] {
  padding: 0 3.5rem 0 0;
}

.input-wrap label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #bbb;
  pointer-events: none;
  transition: var(--tran-04);
}

.input-wrap i {
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.8rem;
  color: #bbb;
  cursor: pointer;
  transition: var(--tran-04);
}

.input-field.active {
  border-bottom-color: var(--text-color);
}

.input-field.active+label {
  font-size: 1.2rem;
  top: -2px;
}

.checkbox-content {
  display: flex;
  gap: 8px;
}

.checkbox-content input {
  accent-color: var(--third-color);
}

.sign-btn {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: var(--text-color);
  margin-top: 1rem;
  color: var(--text-btn-color);
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  font-size: 1.4rem;
  margin-bottom: 3rem;
  transition: var(--tran-03);
  font-weight: 600;
}

.sign-btn:hover {
  background-color: var(--third-color);
}

.text {
  color: #bbb;
  font-size: 1.2rem;
}

.text a {
  color: #bbb;
  text-decoration: underline;
  transition: var(--tran-03);
}

.text a:hover {
  color: var(--text-color);
}

main.sign-up-mode form.sign-in-form {
  opacity: 0;
  pointer-events: none;
}

main.sign-up-mode form.sign-up-form {
  opacity: 1;
  pointer-events: all;
}

main.sign-up-mode .forms-wrap {
  left: 55%;
}

main.sign-up-mode .carousel {
  left: 0%;
}

.carousel {
  position: absolute;
  height: 100%;
  width: 55%;
  left: 45%;
  top: 0;
  background-color: #ffe0d2;
  border-radius: 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 2rem;
  overflow: hidden;
  transition: var(--tran-08-out);
}

.images-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.image {
  padding: 20% 7% 0 7%;
  width: 90%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  opacity: 0;
  transition: opacity 0.3s, transform 0.5s;
}

.img-2 {
  padding: 12%;
}

.img-1,
.img-2 {
  transform: scale(0.4, 0.5);
}

.image.show {
  opacity: 1;
  transform: none;
}

.text-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-wrap {
  max-height: 2.5rem;
  overflow: hidden;
  margin-bottom: 2.5rem;
}

.text-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateY(0);
  transition: var(--tran-05);
}

.text-group h2 {
  line-height: 2.3rem;
  font-weight: 600;
  font-size: 2.1rem;
}

.bullets {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.bullets span {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  background-color: rgba(0, 0, 0, 0.27);
  border-radius: 50%;
  cursor: pointer;
  transition: var(--tran-03);
}

.bullets span.active {
  width: 1.7rem;
  background-color: var(--text-color);
  border-radius: 1rem;
}


@media (max-width: 850px) {
  .box {
    height: auto;
    max-height: 620px;
    max-width: 550px;
    overflow: hidden;
  }

  .inner-box {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }

  .forms-wrap {
    position: revert;
    width: 100%;
    height: auto;
  }

  form {
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .heading {
    margin: 2rem 0;
  }

  form.sign-up-form {
    transform: translateX(100%);
  }

  main.sign-up-mode form.sign-in-form {
    transform: translateX(-100%);
  }

  main.sign-up-mode form.sign-up-form {
    transform: translateX(0%);
  }

  .carousel {
    position: revert;
    height: auto;
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
  }

  .images-wrapper {
    display: none;
  }

  .text-slider {
    width: 100%;
  }
}

@media (max-width: 530px) {
  main {
    padding: 1rem;
  }

  .box {
    border-radius: 2rem;
  }

  .inner-box {
    padding: 1rem;
  }

  .carousel {
    padding: 1.5rem 1rem;
    border-radius: 1.6rem;
  }

  .text-wrap {
    margin-bottom: 1rem;
  }

  .text-group h2 {
    font-size: 1.6rem;
  }

  form {
    padding: 1rem 2rem 1.5rem;
  }
}
