.avatar {
  font-size: 3rem;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: #5f9ea0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.avatar::after {
  content: attr(data-label);
  font-size: var(--font-size);
  color: var(--text-btn-color);
  font-weight: var(--font-semi-bold);
}
