<app-modal [showModal]="this.showModal" [bgColor]="'var(--third-color)'" [title]="'Confirmação'"
  [message]="'Você tem certeza que deseja remover este evento?'" [confirmBtn]="this.deleteEvent"
  [closeBtn]="this.closeModal" [cancelBtn]="this.closeModal">
</app-modal>

<div class="body">
  <div class="container">
    <div class="options" *ngIf="this.checkShowOptions()">
      <button (click)="this.goEdit()"><i class="eva eva-edit-outline"></i></button>
      <button (click)="this.openModal()"><i class="eva eva-trash-2-outline"></i></button>
    </div>
    <div class="card" (click)="this.goDetails()">
      <div class="card-header">
        <img [src]="this.getBanner()" class="card-img">
      </div>
      <div class="card-body">
        <div class="title">
          <h2 class="card-title">{{this.event.title}} {{this.event.subtitle}}</h2>
        </div>
        <div class="details">
          <div class="category-location">
            <!-- <p *ngFor="let item of this.event.categories" class="card-category">{{item.name}}</p> -->
            <div class="card-local">
              <i class="eva eva-pin-outline"></i>
              <p>{{this.event.location}}</p>
            </div>
          </div>
          <div class="start-end-date">
            <div class="start-date">
              <p>Início</p>
              <p class="date">{{this.getStartEndDate().startDate}}</p>
            </div>
            <div class="end-date">
              <p>Fim</p>
              <p class="date">{{this.getStartEndDate().endDate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
