<body id="body">
  <div class="nav-content">
    <nav>
      <div class="sidebar-top">
        <span class="shrink-btn">
          <span class="material-symbols-rounded">
            chevron_left
          </span>
        </span>
        <img src="../../../assets/images/icon.svg" [routerLink]="'/'" class="logo">
        <h3 class="title hide" [routerLink]="'/'">QTáRolando?</h3>
      </div>

      <!-- <div class="search">
        <i class="eva eva-search-outline"></i>
        <input type="text" class="hide" placeholder="Pesquisa rápida...">
      </div> -->

      <div class="content-scroll">
        <div class="sidebar-links">

          <h4 class="subtitle hide">Dashboard</h4>
          <ul>
            <!-- <div class="active-tab" [ngClass]="{active: !this.containsRouterPath('minha-conta')}"></div> -->
            <li class="tooltip-element" data-tooltip="0">
              <a data-active="0">
                <div class="icon">
                  <i class="eva eva-people-outline"></i>
                  <i class="eva eva-people"></i>
                </div>
                <span class="link hide">Usuários</span>
              </a>
            </li>
            <li class="tooltip-element" data-tooltip="1">
              <a [ngClass]="{active: this.containsRouterPath('dashboard/eventos')}" [routerLink]="['dashboard/eventos']"
                data-active="1">
                <div class="icon">
                  <i class="eva eva-calendar-outline"></i>
                  <i class="eva eva-calendar"></i>
                </div>
                <span class="link hide">Eventos</span>
              </a>
            </li>
            <div class="tooltip">
              <span>Usuários</span>
              <span>Eventos</span>
            </div>
          </ul>

          <h4 class="subtitle hide">Menu</h4>

          <ul>
            <li class="tooltip-element" data-tooltip="0">
              <a [ngClass]="{active: this.containsRouterPath('criar-evento')}" [routerLink]="['manager/criar-evento']"
                data-active="2">
                <div class="icon">
                  <i class="eva eva-plus-circle-outline"></i>
                  <i class="eva eva-plus-circle"></i>
                </div>
                <span class="link hide">Criar Evento</span>
              </a>
            </li>
            <li class="tooltip-element" data-tooltip="1">
              <a [ngClass]="{active: this.containsRouterPath('editar-evento')}" [routerLink]="['manager/editar-evento']"
                data-active="3">
                <div class="icon">
                  <i class="eva eva-edit-2-outline"></i>
                  <i class="eva eva-edit-2"></i>
                </div>
                <span class="link hide">Editar Eventos</span>
              </a>
            </li>
            <li class="tooltip-element" data-tooltip="2">
              <a data-active="4">
                <div class="icon">
                  <i class="eva eva-clock-outline"></i>
                  <i class="eva eva-clock"></i>
                </div>
                <span class="link hide">Eventos Passados</span>
              </a>
            </li>
            <div class="tooltip">
              <span>Criar Evento</span>
              <span>Editar Evento</span>
              <span>Eventos Passados</span>
            </div>
          </ul>

          <h4 class="subtitle hide">Gestão</h4>

          <ul>
            <li class="tooltip-element" data-tooltip="0">
              <a data-active="5">
                <div class="icon">
                  <i class="eva eva-person-add-outline"></i>
                  <i class="eva eva-person-add"></i>
                </div>
                <span class="link hide">Cadastrar Usuário</span>
              </a>
            </li>
            <li class="tooltip-element" data-tooltip="1">
              <a data-active="6">
                <div class="icon">
                  <i class="eva eva-person-done-outline"></i>
                  <i class="eva eva-person-done"></i>
                </div>
                <span class="link hide">Editar Usuários</span>
              </a>
            </li>
            <div class="tooltip">
              <span>Cadastrar Usuário</span>
              <span>Editar Usuários</span>
            </div>
          </ul>
        </div>

        <div class="sidebar-footer">
          <a class="account tooltip-element" [routerLink]="['manager/minha-conta']"
            [ngClass]="{active: this.containsRouterPath('minha-conta')}" data-tooltip="0">
            <i class="eva eva-person-outline"></i>
            <i class="eva eva-person"></i>
          </a>
          <div class="admin-user tooltip-element" data-tooltip="1">
            <div class="admin-profile hide" [routerLink]="['manager/minha-conta']"
              [ngClass]="{active: this.containsRouterPath('minha-conta')}">
              <app-user-avatar height="2.9rem" width="2.9rem"></app-user-avatar>
              <div class="admin-info">
                <h3>Anderson Barbosa</h3>
                <h5>Admin</h5>
              </div>
            </div>
            <a class="log-out" (click)="logout()">
              <i class="eva eva-log-out-outline"></i>
            </a>
          </div>
          <div class="tooltip">
            <span>Minha Conta</span>
            <span>Sair</span>
          </div>
        </div>
      </div>

    </nav>
  </div>
  <main>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </main>
</body>
