body{
    margin: 0;
    text-align: center;  
}
body h1{
    font-style: normal;
    font-weight: 700;
    font-size:40px;
    align-items: center;
    color:#ffffff;
}
body h2{
    font-style: normal;
    font-weight: 700;
    font-size:20px;
    align-items: center;
    color:#ffffff;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    
}
.white{
    position: absolute;
    margin-left: 50%;
    background-color:white;
    width: 50%;
    height: 100%;
}
.orange{
    position:absolute;
    background-color: #ED874F;
    width: 50%;
    height: 100%;
    
}
@media screen and (max-width:600px){
    .orange{
        display:none;
    }
    .white{
        position: absolute;
        margin-left:0%;
        background-color:white;
        width: 100%;
        height: 100%;
    }
}