.strength {
  display: flex;
  flex-direction: row;
}

.strengthBar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  list-style: none;
  margin-top: 14px;
  margin-bottom: 0;
  padding: 0;
}

.point:last-of-type {
  margin: 0 !important;
}

.point {
  background: #ddd;
  border-radius: 2px;
  display: inline-block;
  height: 5px;
  margin-right: 3px;
  flex-grow: 1;
}

p {
  font-weight: 700;
  margin: 8px 0 0 12px;
  font-size: 1.5vh;
}
