<div class="body">
  <div class="container">
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body">
        <div class="title">
          <h2 class="card-title"></h2>
        </div>
        <div class="details">
          <div class="category-location">
            <div class="card-local">
            </div>
          </div>
          <div class="start-end-date">
            <div class="start-date">
              <p></p>
              <p class="date"></p>
            </div>
            <div class="end-date">
              <p></p>
              <p class="date"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
